button.startgoo{
    position: absolute;
    height: 70px;
    width: 700px;
    left: 370px;
    top: 650px;
    border-radius: [object Object]px;
}
button.startgit{
    position: absolute;
    height: 70px;
    width: 700px;
    left: 370px;
    top: 750px;
    border-radius: [object Object]px;
}